.page-loader{
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 9999;
    pointer-events: none;
}

.page-loader .left-section{
    position: fixed;
    left: 0;
    top: 0;
    width: 50%;
    height: 100%;
    z-index: 9999;
    background-color: #050505;
    transition: transform .7s 0.3s cubic-bezier(0.65, 0.05, 0.36, 1);
    transform:  translateX(0%);
}

.page-loader .right-section{
    position: fixed;
    right: 0;
    top: 0;
    width: 50%;
    height: 100%;
    z-index: 9999;
    background-color: #050505;
    transition: transform .7s 0.3s cubic-bezier(0.65, 0.05, 0.36, 1);
    transform:  translateX(0%);
    
}

.page-loader .right-section.animate{
    transform:  translateX(100%);
}

.page-loader .left-section.animate{
    transform:  translateX(-100%);
}

.load-icon{
    position: fixed;
    z-index: 9999;
    left: calc(50% - 100px);
    top: calc(50% - 100px);
    transition: opacity 0.3s 0s ease-out;
}

.load-icon.animate{
    opacity: 0;
}

/* 
@keyframes rightSectionAnimation{
    0%{
        transform: translateX(0);
        opacity: 1;
        }
    100%{
        transform: translateX(100%);
        opacity: .6;
        }
}
 */

/* @keyframes animateIcon{
    0%{
        transform: rotate(xx);
        opacity: 1;
        }
    100%{
        transform: rotate(xx);
        opacity: 0;
        }
}

.load-icon{
    animation: animateIcon 0.5s 1 3s linear;
} */

.load-svg{

  line-height: 1.5;
  color: #212529;
  text-align: left;
  font-weight: 300;
  word-wrap: break-word;
  font-size: 16px;
  font-family: Roboto, sans-serif;
  width: 201px;
  height: 201px;
  box-sizing: border-box;
  overflow: hidden;
  margin: auto;
  display: block;
}